html {
    margin: 0;
    padding: 0;
    width: 100%
}

body {
    background-color: #010101 !important;
    background-image: url("files/triptick002grad.svg");
    width: 100%;
    margin-top:0;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 100%;
}